{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <title>Notes</title>
</head>
<body>
<br>
<div class="container">
    <span style="font-weight: bold; font-size:20px;">Notes</span>
    <a href="{% url 'take_note' %}">
        <button class="btn btn-warning float-right btn-sm" style="font-weight: bold;">Add Note</button>
    </a>
    <hr>
    {% for note in notes %}

    {%if note.pinned == True%}
    <a class="note-heading" href="{% url 'view_note' note.pk %}">
        <p><img src="{% static 'images/pin.png' %}" alt="Pinned" width="13px">
            {{note.title|safe}}</p>
    </a>
    {%else%}
    <a class="note-heading" href="{% url 'view_note' note.pk %}">
        <p>{{note.title|safe}}</p>
    </a>
    {%endif%}
    {{note.note|safe|slice:30}}...<span style="float:right; font-size:14px;">{{note.date_created|date:"dS F"}}</span>
    <hr>
    {% endfor %}
</div>
</body>
<style>

    body{
    background-image: url("{%static 'images/paper_bg_2.jpg'%}");
    background-repeat: repeat;
    }

    .card{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;

    }

    p{
    line-height: 0.3em;
    padding-top: 0px;
    }

    .note-heading{
    font-weight: bold;
    font-size: 18px;
    color: #474747;
    }

    a{
    color: black;
    }

    a:hover {
    color: black;
    }
</style>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>